  @import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
  body{ 
      font-family: ‘Roboto’, sans-serif;
  }
  
  p{
    font-weight:400;  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight:700;
  }
  .navbar-default {
      background-color: #146bb5; 
  }
  a.nav-link{
      color:#ffffff !important;
  }
  a.nav-link:hover{
      color:#fad704!important;
  }
  .navbar .navbar-collapse {
      text-align: center;
    }
  a {
      color:#fad704 !important;
  }
  a:hover{
      color:#ef3e24 !important;
  }
  nav{ 
      position:relative;
  }

  .album {
    width: 500px;
    border: 1.25px solid #ef3e24;
  }
  
  .card-img {
    height: 100%
  }
  
  .card {
    background-color: #146bb5;
  }
  
  .card-text, .card-title {
    color: #ffffff;
  }
  .card-title:hover {
    color:#fad704
  }  
  
  #album-zone {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }